<script>
import { ref } from '@vue/reactivity'
export default {
    setup(){
        // 畫面狀態
        const status = ref(true)
        
        // 打開與關閉畫面
        const handOpen = ()=>{
            status.value = !status.value
        }

        return { status, handOpen }
    }
}
</script>
<template>
  <div class="main" v-if="status === true">
    <div class="keyboard">
    <div class="img_w"></div>
    <div class="img_a"></div>
    <div class="img_s"></div>
    <div class="img_d"></div>
    </div>
    <div class="instruction">
        <div class="up_word">往前</div>
        <div class="down_word">左轉</div>
        <div class="down_word">往後</div>
        <div class="down_word">右轉</div>
    </div>
    <div class="cannonball">
        <div class="picture"></div>
        <div class="text">發射砲彈</div>
    </div>
    <div class="small" @click="handOpen()">縮小</div>
  </div>
  <div class="click" v-if="status === false" @click="handOpen()">
      查看操作
  </div>
</template>

<style lang="scss" scoped>
.main{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(248, 248, 255, 0.6);
    padding: 1%;
    top: 2%;
    left: 1%;
    width: 400px;
    height: 200px;
    >.keyboard{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
        >.img_w{
        margin-left: 25%;
        margin-right: 30%;
        width: 50px;
        height: 50px;
        background-image: url("~@/assets/images/w.png");
        background-size: cover;
        }
        >.img_s{
            width: 50px;
            height: 50px;
            background-image: url("~@/assets/images/s.png");
            background-size: cover;
        }
        >.img_a{
            width: 50px;
            height: 50px;
            background-image: url("~@/assets/images/a.png");
            background-size: cover;
        }
        >.img_d{
            width: 50px;
            height: 50px;
            background-image: url("~@/assets/images/d.png");
            background-size: cover;
        }
    }
    >.instruction{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
        >.up_word{
            text-align: center;
            margin-left: 25%;
            margin-right: 30%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: bold;
        }
        >.down_word{
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: bold;
        }
    }
    >.cannonball{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        >.picture{
            width: 50%;
            background-image: url("~@/assets/images/space.png");
            background-size: contain;
            background-repeat: no-repeat;
            
        }
        >.text{
            width: 50%;
            text-align: center;
            line-height: 50px;
            font-weight: bold;
            font-size: 20px;
        }
    }
    >.small{
        width: 100%;
        height: 30px;
        margin-left: 40%;
        margin-right: 40%;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
        line-height: 30px;
        background-color: blanchedalmond;
    }
    
}
.click{
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    background-color: rgba(248, 248, 255, 0.6);
    text-align: center;
    line-height: 10px;
    padding: 1%;
    top: 2%;
    left: 1%;
    width: 80px;
    height: 10px;
    font-size: 20px;
    font-weight: bold;
}
</style>