<script>
import { computed, reactive } from '@vue/reactivity'
import { useStore } from 'vuex'
import { watch } from '@vue/runtime-core'
export default {
    setup(){
        const store = useStore()
        const score = computed(() => store.getters.score)
        const score_arr = reactive(new Array(0))

        watch(() => score.value, () =>{
            score_arr.push(score.value)
        })


        return { score_arr }
    }
}
</script>

<template>
  <div class="main">
      <div class="text">分數:</div>
      <div class="star" v-for="item in score_arr" :key="item"></div>
  </div>
</template>

<style lang="scss" scoped>
.main{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(248, 248, 255, 0.6);
    padding: 1%;
    top: 2%;
    left: 50%;
    width: 45%;
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-items: center;
    >.text{
      font-size: 35px;
      font-weight: bold;
      margin-right: 2%;
    }
    >.star{
        width: 50px;
        height: 50px;
        background-image: url("~@/assets/images/star.png");
        background-size: cover;
    }
}
</style>