<script>
import { ref } from '@vue/reactivity'
import { watch } from '@vue/runtime-core'
export default {
    props: ['position'],
    setup({position}){
         // 取得範圍亂數
        const  getRandom = (min,max)=>{
          return Math.floor(Math.random()*(max-min+1))+min
        }
        // 坦克位置
        const tank_position = ref(position)
        // 坦克旋轉角度
        let r_y = getRandom(0,360)
        const tank_roatation = ref(`0 ${r_y} 0`)
        // 坦克角度校正
        const angleCorrection = (angle) =>{
          if (angle == 360){
                angle -= 360
            }
            if (angle < 0){
                angle += 360
            }
            return angle
        }

        // 判斷是否重新隨機執行
        const run_status = ref(false)
        watch(() => run_status.value,() =>{
          // 坦克position
          let p_x_y_z = tank_position.value.split(" ")
          let p_x = parseFloat(p_x_y_z[0])
          let p_z = parseFloat(p_x_y_z[2])
          // 坦克rotation
          let r_x_y_z = tank_roatation.value.split(" ")
          let r_y = parseInt(r_x_y_z[1])
          // 角度校正
          r_y = angleCorrection(r_y)
          // 計數器
          let count = 0
          // 決定行為
          const behavior = getRandom(1,4)
          // 決定幾秒
          const run_time = getRandom(3,5)
          // 坦克移動(往前)
          if (behavior == 1){
            const up = setInterval(() => {        
              if (r_y >= 180 && r_y <=269){
                  p_z -= 0.01 * ((90 - r_y%90)/2)
                  p_x -= 0.01 * ((r_y%90)/2)
                }
                else if (r_y >= 270 && r_y <=359){
                  p_z += 0.01 * ((r_y%90)/2)
                  p_x -= 0.01 * ((90 - r_y%90)/2)
                }
                else if (r_y >=0 && r_y <=89){
                  p_z += 0.01 * ((90 - r_y%90)/2)
                  p_x += 0.01 * ((r_y%90)/2)
                }
                else if (r_y >=90 && r_y<=179){
                  p_z -= 0.01 * ((r_y%90)/2)
                  p_x += 0.01 * ((90 - r_y%90)/2)
                }
                tank_position.value = `${p_x} ${p_x_y_z[1]} ${p_z}`
                count += 100
                if (count == run_time * 1000){
                  clearInterval(up)
                  run_status.value =  !run_status.value
                }
            }, 100);
          }
          // 坦克移動(往後)
          else if (behavior == 2){
            const down = setInterval(() => {        
              if (r_y >= 180 && r_y <=269){
              p_z += 0.01 * ((90 - r_y%90)/2)
              p_x += 0.01 * ((r_y%90)/2)
              }
              else if (r_y >= 270 && r_y <=359){
                p_z -= 0.01 * ((r_y%90)/2)
                p_x += 0.01 * ((90 - r_y%90)/2)
              }
              else if (r_y >=0 && r_y <=89){
                p_z -= 0.01 * ((90 - r_y%90)/2)
                p_x -= 0.01 * ((r_y%90)/2)
              }
              else if (r_y >=90 && r_y<=179){
                p_z += 0.01 * ((r_y%90)/2)
                p_x -= 0.01 * ((90 - r_y%90)/2)
              }
              tank_position.value = `${p_x} ${p_x_y_z[1]} ${p_z}`
              count += 100
              if (count == run_time * 1000){
                clearInterval(down)
                run_status.value = !run_status.value
              }
            }, 100);
          }
          // 坦克往左轉
          else if (behavior == 3){
            const left = setInterval(() => {        
              r_y += 2
              tank_roatation.value = `${r_x_y_z[0]} ${r_y} ${r_x_y_z[2]}`   
              count += 100
              if (count == run_time * 1000){
                clearInterval(left)
                run_status.value =  !run_status.value
              }
            }, 100);
          }
          // 坦克往右轉
          else if (behavior == 4){
            const right = setInterval(() => {        
              r_y -= 2
              tank_roatation.value = `${r_x_y_z[0]} ${r_y} ${r_x_y_z[2]}`   
              count += 100
              if (count == run_time * 1000){
                clearInterval(right)
                run_status.value =  !run_status.value
              }
            }, 100);
          }
          
        })


        // 坦克車動起來
        run_status.value = true
        

      return {tank_position, tank_roatation}
    }
}
</script>

<template>
  <a-entity obj-model="obj:#creat-obj;mtl:#creat-mtl" :position=tank_position :rotation=tank_roatation dynamic-body  enemy geometry="primitive:box;width:5;height:5;"  class="enemy_tank"></a-entity>
</template>


<style lang="scss" scoped>

</style>