<script>
import { ref } from '@vue/reactivity'
export default {
    setup(){
        // 取得範圍亂數
        const  getRandom = (min,max)=>{
          return Math.floor(Math.random()*(max-min+1))+min
        }
        const p_x = getRandom(-300,300)
        const p_z = getRandom(-300,600)
        const position = ref(`${p_x} 0 ${p_z}`)

        const r_y = getRandom(0,360)
        const rotation = ref(`0 ${r_y} 0`)
        return { position, rotation }
    }
}
</script>

<template>
  <a-entity gltf-model="#tree" :position=position :rotation=rotation></a-entity>
</template>
