<script>
import { computed } from '@vue/reactivity'
import { useStore } from 'vuex'
export default {
    setup(){
        const store = useStore()
        const score = computed(() => store.getters.score)

        const gameStart = () =>{
            window.location.reload()
        }

        return { gameStart, score }
    }
}
</script>

<template>
  <div class="background" v-if="score == 0">
      <div class="frame">
          <div class="title">
            遊戲勝利!!!
          </div>
          <div class="button" @click="gameStart()">
            重新遊玩
          </div>
      </div>
  </div>
</template>


<style lang="scss" scoped>
.background{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    >.frame{
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        height: 40%;
        background-color: skyblue;
        border-radius: 10px;
        >.title{
            width: 100%;
            height: 20%;
            text-align: center;
            color: #fff;
            font-size: 50px;
            margin: 2%;
            margin-top: 15%;
        }
        >.button{
            margin-left: 30%;
            margin-right: 30%;
            width: 40%;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            background-color: snow;
        }
    }
}
</style>